<!DOCTYPE html>
<html lang="en"
  x-data="{
      darkMode: localStorage.getItem('darkMode')
      || localStorage.setItem('darkMode', 'system')}"
  x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
  x-bind:class="{'dark': darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/base.css">
    <link href="/static/tailwind.min.css" rel="stylesheet">
    <script defer src="/static/alpine.min.js"></script>
    <script defer src="/static/htmx.1.9.2.js"></script>
    <meta name="msapplication-TileColor" content="#7cd1cd">
    <title>Hiro - A Seach Engine For AI</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
</head>
  <body class="leading-normal tracking-normal flex flex-col min-h-screen" hx-boost="true" id="content">
  <div class="h-full mx-auto justify-between items-center">
    <main class="container">
      {{embed}}
    </main>
  </div>

  <footer class=" mt-auto p-6">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">Hiro</a>. All Rights Reserved.</span>

          <div class="flex mt-4 space-x-5 sm:justify-center sm:mt-0 text-sm">
            <span>Brought to you by: </span>
              <a href="https://christianschulze.io" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">Christian Schulze</a>
          </div>
      </div>
    </footer>
  </body>
</html>
